google-cloud-aiplatform
google-cloud-bigquery
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
pandas
Pillow
python-dotenv
requests
Flask==3.0.0
gunicorn==22.0.0